APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=memcached
QUEUE_DRIVER=sync

# https://github.com/search?utf8=%E2%9C%93&q=SC.initialize%28%7B+++client_id%3A&type=Code&ref=searchresults
SOUND_CLOUD_CLIENT_ID=
